@page
@using Midori.Shared;
@model Midori.Pages.ErrorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="midori.styles.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <component type="typeof(ErrorPage)" render-mode="Static" param-ShowRequestId="@Model.ShowRequestId" param-RequestId="@Model.RequestId"  />    
</body>
</html>
