@page "/"

<main>
    <section id="left-sidebar">
        <header>MidOrI Feed</header>
    </section>

    <section id="central-column">
        <article>
            <img src="/fdam.jpg" width="40" height="40" />
            <div>
                <p>Lorem.</p>
                <p>Ipsum.</p>
            </div>            
        </article>
        <article>
            <img src="/fdam.jpg" width="40" height="40" />
            <div>
                <p>Dolor sit amet.</p>
            </div>
        </article>
        <article>
            <img src="/fdam.jpg" width="40" height="40" />
            <div>
                <p>Consectetur adipiscling elit and that's as much as I can remember.</p>
            </div>
        </article>
    </section>

    <section id="right-sidebar">
        <input type="text" value="Search..." />
    </section>
</main>
