@page "/"

<main>
    <section id="left-sidebar">
        <header>MidOrI Feed</header>
    </section>

    <section id="central-column">
        <Post Content="@("Lorem.\r\nIpsum.")" />
        <Post Content="Dolor sit amet." />
        <Post Content="Consectetur adipiscling elit and that's as much as I can remember." />
    </section>

    <section id="right-sidebar">
        <input type="text" value="Search..." />
    </section>
</main>
