@page "/"
@code {
    IEnumerable<Post> GetPosts()
    {
        var context = new EntityContext();
        return context.Posts.AsEnumerable();
    }
}

<main>
    <section id="left-sidebar">
        <header>MidOrI Feed</header>
    </section>

    <section id="central-column">
        @foreach (var post in GetPosts())
        {
            <PostView Content="@post.Content" />
        }
        
    </section>

    <section id="right-sidebar">
        <input type="text" value="Search..." />
    </section>
</main>
